In [1]:
import tabula
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

# read in pdf
df = tabula.read_pdf('data/giro_2019.pdf', pages = 'all')

# inspect table
print(df.columns)
print(df.shape)
print(df)

# rename columns
df.columns = ["date", "subject", "account", "amount"]

# drop headers of new pages
indexNames = df[ df['value'] == 'Wert' ].index
df.drop(indexNames , inplace = True)

# get NA columns
na_index  = (df["date"].isna().index[df["date"].isna() == False].tolist())
na_index.extend([df.shape[0]])

# concatenate subjects which actually belong together
s = " "
for i in range(0, len(na_index) - 1):
    df.iloc[na_index[i], 2] = s.join(df.iloc[range(na_index[i], na_index[i+1]), 2])

# remove rows with NA
df = df[pd.notnull(df['date'])]

# replace NULL with 0
df = df.fillna('0,0')

# convert to numerics
for i in range(0, df.shape[0]):
    df.iloc[i, 3] = float(df.iloc[i, 3].replace(',', '.'))
    df.iloc[i, 4] = float(df.iloc[i, 4].replace(',', '.'))

Index(['22.08.2019', 'ERSTLASTSCHRIFT', 'DE67 7005 0000 0003 0240 50',
       '-51,92'],
      dtype='object')
(202, 4)
     22.08.2019             ERSTLASTSCHRIFT  DE67 7005 0000 0003 0240 50  \
0    22.08.2019         Versicherungskammer                  BYLADEMMXXX
1           NaN                      Bayern                          NaN
2           NaN       HAFT UNF HE-1008-2831                          NaN
3           NaN                  14.08.2019                          NaN
4    22.08.2019         ONLINE-UEBERWEISUNG  DE90 7005 4306 0000 1271 00
5    22.08.2019              ZVKDZ OBERLAND                  BYLADEM1WOR
6           NaN    Aktenzeichen 271953833 -                          NaN
7           NaN      M-WU:3688 - 18.08.2019                          NaN
8           NaN     DATUM 21.08.2019, 18.10                          NaN
9           NaN             UHR1.TAN 076186                          NaN
10   20.08.2019   Kartenzahlung/-abrechnung  DE67 5005 0000 0959 5670 25
11   20.08.2019                          BP                     HELADEFF
12          NaN        TANKSTELLE//STEINACH                          NaN
13          NaN                   AM B/AT/1                          NaN
14          NaN   2019-08-18T08:23 Debitk.0                          NaN
15          NaN                     2099-12                          NaN
16   20.08.2019                 Lastschrift  DE74 7005 0000 0000 0282 73
17   20.08.2019    M-net Telekommunikations                  BYLADEMMXXX
18          NaN                        GmbH                          NaN
19          NaN            D-Nr M501432264,                          NaN
20          NaN       /INV/201907323841 vom                          NaN
21          NaN  13.08.2019, TELEFONIE Juli                          NaN
22          NaN      2019, ZahlB 1302948913                          NaN
23          NaN      ABWA+M-net Telek. GmbH                          NaN
24   20.08.2019   Kartenzahlung/-abrechnung  DE72 2009 0700 3142 2480 71
25   20.08.2019                 858 EDEKA M                  EDEKDEHHXXX
26          NaN         LINDWURMSTR//MUENCH                          NaN
27          NaN                       EN/DE                          NaN
28          NaN   2019-08-19T17:31 Debitk.0                          NaN
29          NaN                     2022-12                          NaN
..          ...                         ...                          ...
172         NaN                     JGA Max                          NaN
173  08.01.2019   Kartenzahlung/-abrechnung  DE72 2009 0700 3142 2480 71
174  08.01.2019                 858 EDEKA M                  EDEKDEHHXXX
175         NaN         LINDWURMSTR//MUENCH                          NaN
176         NaN                       EN/DE                          NaN
177         NaN   2019-01-07T18:53 Debitk.0                          NaN
178         NaN                     2022-12                          NaN
179  04.01.2019                 Ãœberweisung  DE10 7001 0080 0314 0928 02
180  04.01.2019                JANA BETZOLD                  PBNKDEFFXXX
181         NaN           Kochkurs ORIENTAL                          NaN
182         NaN     SOULFOOD - 12.04.2019 -                          NaN
183         NaN          Robert Hager DATUM                          NaN
184         NaN           04.01.2019, 14.17                          NaN
185         NaN             UHR1.TAN 798628                          NaN
186  04.01.2019                 Lastschrift  DE87 3003 0880 1908 2620 06
187  04.01.2019             AMAZON PAYMENTS                     TUBDDEDD
188         NaN               EUROPE S.C.A.                          NaN
189         NaN         302-7877438-6053127                          NaN
190         NaN                AMZN Mktp DE                          NaN
191         NaN            1699987346914266                          NaN
192  04.01.2019   Kartenzahlung/-abrechnung  DE72 2009 0700 3142 2480 71
193  04.01.2019                 858 EDEKA M                  EDEKDEHHXXX
194         NaN         LINDWURMSTR//MUENCH                          NaN
195         NaN                       EN/DE                          NaN
196         NaN   2019-01-03T17:55 Debitk.0                          NaN
197         NaN                     2022-12                          NaN
198  03.01.2019                  Gutschrift  DE23 1001 0010 0837 7771 10
199  03.01.2019           ANDREAS OBERMEIER                  PBNKDEFFXXX
200         NaN                        iPod                          NaN
201  02.01.2019                 Lastschrift  DE21 8600 0000 0086 0010 55

      -51,92
0        NaN
1        NaN
2        NaN
3        NaN
4     -15,00
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10    -32,90
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16    -29,89
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24     -8,20
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
..       ...
172      NaN
173    -8,76
174      NaN
175      NaN
176      NaN
177      NaN
178      NaN
179  -198,00
180      NaN
181      NaN
182      NaN
183      NaN
184      NaN
185      NaN
186   -45,98
187      NaN
188      NaN
189      NaN
190      NaN
191      NaN
192    -5,19
193      NaN
194      NaN
195      NaN
196      NaN
197      NaN
198    15,00
199      NaN
200      NaN
201  -315,00

[202 rows x 4 columns]

KeyError: 'value'

In [9]:
# read in pdf
df = tabula.read_pdf('data/giro_2019.pdf', pages = '1-3')

# inspect table
print(df.columns)
print(df.shape)
print(df)

Index(['22.08.2019', 'ERSTLASTSCHRIFT', 'DE67 7005 0000 0003 0240 50',
       '-51,92'],
      dtype='object')
(31, 4)
    22.08.2019             ERSTLASTSCHRIFT  DE67 7005 0000 0003 0240 50  \
0   22.08.2019         Versicherungskammer                  BYLADEMMXXX
1          NaN                      Bayern                          NaN
2          NaN       HAFT UNF HE-1008-2831                          NaN
3          NaN                  14.08.2019                          NaN
4   22.08.2019         ONLINE-UEBERWEISUNG  DE90 7005 4306 0000 1271 00
5   22.08.2019              ZVKDZ OBERLAND                  BYLADEM1WOR
6          NaN    Aktenzeichen 271953833 -                          NaN
7          NaN      M-WU:3688 - 18.08.2019                          NaN
8          NaN     DATUM 21.08.2019, 18.10                          NaN
9          NaN             UHR1.TAN 076186                          NaN
10  20.08.2019   Kartenzahlung/-abrechnung  DE67 5005 0000 0959 5670 25
11  20.08.2019                          BP                     HELADEFF
12         NaN        TANKSTELLE//STEINACH                          NaN
13         NaN                   AM B/AT/1                          NaN
14         NaN   2019-08-18T08:23 Debitk.0                          NaN
15         NaN                     2099-12                          NaN
16  20.08.2019                 Lastschrift  DE74 7005 0000 0000 0282 73
17  20.08.2019    M-net Telekommunikations                  BYLADEMMXXX
18         NaN                        GmbH                          NaN
19         NaN            D-Nr M501432264,                          NaN
20         NaN       /INV/201907323841 vom                          NaN
21         NaN  13.08.2019, TELEFONIE Juli                          NaN
22         NaN      2019, ZahlB 1302948913                          NaN
23         NaN      ABWA+M-net Telek. GmbH                          NaN
24  20.08.2019   Kartenzahlung/-abrechnung  DE72 2009 0700 3142 2480 71
25  20.08.2019                 858 EDEKA M                  EDEKDEHHXXX
26         NaN         LINDWURMSTR//MUENCH                          NaN
27         NaN                       EN/DE                          NaN
28         NaN   2019-08-19T17:31 Debitk.0                          NaN
29         NaN                     2022-12                          NaN
30  16.08.2019                 Lastschrift  DE46 7435 1430 0810 2354 08

    -51,92
0      NaN
1      NaN
2      NaN
3      NaN
4   -15,00
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10  -32,90
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16  -29,89
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24   -8,20
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30  -10,59

In [10]:
df.iloc[24:40,]

    22.08.2019            ERSTLASTSCHRIFT  DE67 7005 0000 0003 0240 50  -51,92
24  20.08.2019  Kartenzahlung/-abrechnung  DE72 2009 0700 3142 2480 71   -8,20
25  20.08.2019                858 EDEKA M                  EDEKDEHHXXX     NaN
26         NaN        LINDWURMSTR//MUENCH                          NaN     NaN
27         NaN                      EN/DE                          NaN     NaN
28         NaN  2019-08-19T17:31 Debitk.0                          NaN     NaN
29         NaN                    2022-12                          NaN     NaN
30  16.08.2019                Lastschrift  DE46 7435 1430 0810 2354 08  -10,59

In [ ]:

df1 = df

df1.loc[-1] = df.iloc[0, ]  # adding a row
df1.index = df1.index + 1  # shifting index
df1.sort_index(inplace=True) 

df1