In [82]:
import tabula
import numpy as np
import pandas as pd
import seaborn as sb

# read in pdf
df = tabula.read_pdf('data/Kontoauszug_1032515684_Nr_2019_001_per_2019_01_04.pdf')

# inspect table
#print(df.columns)
print(df.shape)

# rename columns
df.columns = ["date", "value", "subject", "minus", "plus"]
#print(df)

# get NA columns
na_index  = (df["date"].isna().index[df["date"].isna() == False].tolist())
na_index.extend([df.shape[0]])

# concatenate subjects which actually belong together
s = " "
for i in range(0, len(na_index) - 1):
    df.iloc[na_index[i], 2] = s.join(df.iloc[range(na_index[i], na_index[i+1]), 2])

# remove rows with NA
df = df[pd.notnull(df['date'])]
print(df)

(41, 5)
      date   value                                            subject   minus  \
0   02.01.  02.01.  Kartenzahlung ARAL AG SVWZ+2018-12-29T00.48 De...   50,20
4   02.01.  02.01.  Basislastschrift E-Plus Service GmbH EREF+3384...   15,00
10  02.01.  02.01.  Kartenzahlung ARAL AG SVWZ+2018-12-28T19.36 De...   61,53
15  02.01.  02.01.  Basislastschrift AMAZON PAYMENTS EUROPE S.C. A...   21,98
21  02.01.  02.01.  Kartenzahlung NAHKAUF FRISCHEMARKT SVWZ+2018-1...   18,98
25  02.01.  02.01.  Basislastschrift AMAZON PAYMENTS EUROPE S.C. A...   80,48
31  02.01.  02.01.  Basislastschrift Bundeskasse in Halle EREF+552...  315,00
36  02.01.  02.01.    Zahlungseingang BENJAMIN KAMMERECK SVWZ+MSC JGA     NaN
39  02.01.  02.01.                     Zahlungseingang Helmut Matejka     NaN

      plus
0      NaN
4      NaN
10     NaN
15     NaN
21     NaN
25     NaN
31     NaN
36   80,00
39  315,00

In [86]:
import re
# plot
# income vs outflow
#print(re.sub(',', '.', df["minus"]))
#df["minus"] = df["minus"].replace(",", ".")
print(type(df["minus"]))
#df["minus"] = pd.to_numeric(df["minus"])
#print(df["minus"].sum(axis = 0, skipna = True))
#sb.barplot(df[s])
print(df)

<class 'pandas.core.series.Series'>
      date   value                                            subject   minus  \
0   02.01.  02.01.  Kartenzahlung ARAL AG SVWZ+2018-12-29T00.48 De...   50,20
4   02.01.  02.01.  Basislastschrift E-Plus Service GmbH EREF+3384...   15,00
10  02.01.  02.01.  Kartenzahlung ARAL AG SVWZ+2018-12-28T19.36 De...   61,53
15  02.01.  02.01.  Basislastschrift AMAZON PAYMENTS EUROPE S.C. A...   21,98
21  02.01.  02.01.  Kartenzahlung NAHKAUF FRISCHEMARKT SVWZ+2018-1...   18,98
25  02.01.  02.01.  Basislastschrift AMAZON PAYMENTS EUROPE S.C. A...   80,48
31  02.01.  02.01.  Basislastschrift Bundeskasse in Halle EREF+552...  315,00
36  02.01.  02.01.    Zahlungseingang BENJAMIN KAMMERECK SVWZ+MSC JGA     NaN
39  02.01.  02.01.                     Zahlungseingang Helmut Matejka     NaN

      plus
0      NaN
4      NaN
10     NaN
15     NaN
21     NaN
25     NaN
31     NaN
36   80,00
39  315,00